<div class="container">

  <h1 class='headings'>My tasks</h1>

  <div class="description">
    <h2><%= @task.title %></h2>
    <h4>Detailed description</h4>
    <div class="detailed-description">
      <p class="detailed"><%= @task.details %></p>
    </div>
    <p class="question">Is this task completed ?
      <% if @task.completed?%>
      <i class="fas fa-check"></i>
      <% else %>
      <i class="fas fa-thumbs-down"></i>
      <% end %>
    </p>
  </div>
  <%= link_to (raw("<i class='fas fa-arrow-circle-left'></i>Back to list")), tasks_path, :class => "btn btn-primary btn-create button" %>
</div>
